*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;  

}

:root{
    --colorFondo: rgb(143, 1, 72);

}

header{
    background: var(--colorFondo);
}

/* imagen de logo */
.content-img{
    width: 20%;
    margin-left: 1%;
}

.img-logo{
    width: 80px;
}

/* opciones de menu */
.menu{
    
    border: 1px solid rgb(0, 0, 0);
}

.menu ul{   
    display: flex;
    margin-left: 25%;

}

.menu ul li{
    margin-left: 10px;
    padding: 10px;
    list-style-type: none;
}

.menu ul li a:hover{
    background: rgb(255, 255, 255);
    color: rgb(143, 0, 71);
}

.menu ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
    list-style: none;
}

.cerrar{
    text-decoration: none;
}


/* -----------------------crear empleado----------------------------------------- */

.login-box {
    width: 45%;
    color: rgb(157, 0, 79);
    margin-left: 25%;
    
}

.login-box .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: bold;
    display: block;
    
}
select{
    width: 100%;
    background: rgba(157, 0, 79, 0.541);
    color: white;
    padding: 1px 2px 3px 3px;
    
}

.ads{
   
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.login-box input {
    width: 100%;
    margin-bottom:20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 3px solid  rgb(157, 0, 79);
    background: transparent;
    outline: none;
    height: 17px;
    color: rgb(157, 0, 79);
    font-size: 16px;
}

.login-box input[type="submit"] {
    outline: none;
    height: 40px;
    width: 50%;
    background-color: transparent;
    color:  rgb(255, 255, 255);
    font-size: 18px;
    background-color: rgb(157, 0, 79);
    margin-left: 25%;
    font-family: 'Julius Sans One', sans-serif;  
    border-style: none;

}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(157, 0, 79);
    color: rgb(255, 255, 255);
    border-style: none;
}

/* inicio de sesion */
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
}

.inicioSesion{
    margin-top: 16%;
}

/* -------------------------crear producto-------------------------------------- */
.contCrearProduct{
  
    padding: 10px;
    width: 50%;
    margin-left: 25%;

}
.contenedora{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.primeraa{
    margin: 20px;
    
}

.segundaa{
    margin: 10px;
    
    margin-top: 6%;
}

.contCrearProduct h1{
    margin-bottom: 20px;
    text-align: center;
}
.aaaaa{
    border:1px solid red;
    padding: 20px;
}

.label{
    color:  rgb(157, 0, 79);
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 10px;
}

.adsa{
    margin-bottom: 8%;
}

.btn{
    outline: none;
    height: 33px;
    width: 40%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 30%;
    background-color: rgb(157, 0, 79);
    font-family: 'Julius Sans One', sans-serif;
    border-style: none;
    cursor: pointer;
}

.inpu{
    border: none;
    border-bottom: 3px solid rgb(157, 0, 79);
    background: transparent;
    outline: none;
    height: 17px;
    text-align: center  ;
    width: 100%;
    color: rgb(157, 0, 79);
    font-size: 16px;
    margin-bottom: 20px;
}


/* -----------------------buscar producto----------------------------------------- */

.buscarproducto{
    background-color: rgba(231, 189, 198, 0.774);
    border-radius: 10px;
    color: rgb(157, 0, 79);
    top: 60%;
    margin-bottom: 40px;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 20px;
}

.buscarproducto h1 {
    margin: 20px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 27px;
}

.buscarproducto label {
    margin: -15px;
    padding: 0;
    font-weight: bold;
    display: block;
    text-align: center;
}

.buscarproducto input {
    width: 80%;
    margin-bottom: 10px;
    margin-left: 30px;
    
}

.buscarproducto input[type="number"]{
    border: none;
    border-bottom: 3px solid  rgb(157, 0, 79);
    background: transparent;
    outline: none;
    outline: none;
    color: rgb(157, 0, 79);
    font-size: 16px;
}

.buscarproducto input[type="submit"] {
    outline: none;
    height: 33px;
    width: 40%;
    background-color: transparent;
    color:  rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(157, 0, 79);
    margin-left: 30%;
    font-family: 'Julius Sans One', sans-serif;  
    border-style: none;

}

.buscarproducto input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(157, 0, 79);
    color: rgb(255, 255, 255);
    border-style: none;
}

.consulta{
    color: rgb(157, 0, 79);
    top: 60%;
    left: 65%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 40px;
}

.consulta h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 27px;
}

.consulta .datos{
    border: 1px solid rgb(109, 0, 45);
}

.consulta td{
    border: 2px solid rgb(109, 0, 45);
    color: black;
    font-family:monospace;
    font-size: 15px;
    text-align: center;
 
}
.consulta .nn{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 20px; 
    font-weight: 900;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.codigo{
    text-align: center;
}

/*tabla de mostrar los productos*/


.tabla{
    color: rgb(157, 0, 79);
    top: 130%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px;
    margin-top: 4%;
} 
.tabla h1{
    margin: 10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.tabla .datos{
    border: 1px solid rgb(109, 0, 45);

}
.tabla caption{
    font-weight: 900;
}

.tabla td{
    border: 2px solid rgb(109, 0, 45);
    color: black;
    font-size: 15px;
    text-align: center;
 
}

.tabla .nn{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 20px; 
    font-weight: 900;

}

