*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;  

}




:root{
    --colorFondo: rgb(143, 1, 72);

}

header{
    background: var(--colorFondo);
}

/* imagen de logo */
.content-img{
    width: 20%;
    margin-left: 1%;
}

.img-logo{
    width: 80px;
}

/* opciones de menu */
.menu{
    
    border: 1px solid rgb(0, 0, 0);
}

.menu ul{   
    display: flex;
    margin-left: 20%;

}

.menu ul li{
    margin-left: 10px;
    padding: 10px;
    list-style-type: none;
}

.menu ul li a:hover{
    background: rgb(255, 255, 255);
    color: rgb(143, 0, 71);
}

.menu ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
    list-style: none;
}

.menu .icono{
    
    color:#ffffff;
    cursor:pointer;
    position:absolute;
    right: 73px;
    margin-top: 8px;
    font-size: 23px;
    
    
}
.menu .carrito {
    background: white;

    color: black;
}

.carrito {
   
    width: 7%;
    height: 18px;
    font-size: 11px;
    font-weight: 700;
    margin-left: 10%;
    right: 60px;
    overflow: hidden;
    line-height: 18px;
    text-align: center;
}

.texto{
    visibility: visible;
}

.cerrar{
    text-decoration: none;
}

.contenedor2{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;

}


.titulo2{
    text-align: center; 
    color: rgb(157, 0, 79);
    font-size: 50px;   
    margin-bottom: 10px; 
    font-weight: 600;  
}


.tarjetas {
    width: 100%;      
    margin: auto;  margin: auto;       
    display: flex;         
    flex-wrap: wrap;      
    justify-content: space-around;  
    color: rgb(157, 0, 79);
}

.card {
    margin: 30px 0;    
    width: 30%;        
    height: 500px;         
    text-align: center;   
    padding: 10px;        
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);      
}


.tarjetas img {
    width: 140px;       
    height: 140px;        
    object-fit: cover;       
    border-radius: 100%;        
}

.card h4{
    margin-top: 4%;
}

.card:hover{
    background-color: rgb(157, 0, 79);
    color: white;
    transition: .2s ease;

}


.contador input[type="number"]{
    width: 25%;
    height: 29px;
    outline: none;
    text-align: center;
  
}

.contador .btn{
    vertical-align: top;
    padding: 0 15px;
    line-height: 33px;
    height: 30px;

}

.contador .btn{
    border-radius: 3px 3px 3px 3px;
}

.btn{
    border-color: #750041;
    background: #750041;
    color: #FFF;
}

.btn {
    display: inline-block;
    width: auto;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    outline: 0;
    transition: all 0.6s;
    position: relative;
    text-decoration: none;
}


/*tabla de mostrar los productos*/


.tabla{
    color: rgb(157, 0, 79);
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px;
    margin-top: 4%;
    display: none ;
} 

.tablaa{
    display: block;
}

.tabla h1{
    margin: 10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.tabla .datos{
    border: 1px solid rgb(109, 0, 45);

}
.tabla caption{
    font-weight: 900;
}

.tabla td{
    border: 2px solid rgb(109, 0, 45);
    color: black;
    font-size: 15px;
    text-align: center;
    
}

.tabla .nn{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 20px; 
    font-weight: 900;

}

/* hacer factura */
.btn-hacerfactura{
    width: 20%;
    position: fixed;
    font-size: 30px;
    height: 100px;
    border: 1px solid var(--colorFondo);
    background-color: rgba(143, 1, 72, 0.432);
    cursor: pointer;
    display: block;
}



/*tabla de mostrar los pedidos*/

.pedido{
    color: rgb(157, 0, 79);
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px;
    margin-top: 4%;
} 
.pedido h1{
    margin: 10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.pedido .datos{
    border: 1px solid rgb(109, 0, 45);

}

.pedido td{
    border: 2px solid rgb(109, 0, 45);
    color: black;
    font-size: 15px;
    text-align: center;
 
}

.nn{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 20px; 
    font-weight: 900;


}


.hola td{
    background-color: aqua;
    padding: 0 15px 0 15px;
}





/* direccion donde va a hacer la compra  */
.direccion{
    background-color: rgba(143, 1, 72, 0.507);
    width: 50%;
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 24%;
    font-size: 30px;
    text-align: center;
    border: 3px solid rgb(143, 0, 71);
    height: 300px;
    display: block;
    display: NONE;
}

.hacerCompras{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
    border-radius: 15px;
    height:200px;
    margin-top: 5%;
    width: 100%;
  
 
}

.hacerCompras input{
    background-color:transparent;
    font-size: 30px;
    border: transparent;
    text-align: center;
    height: 38px;
    width: 80%;
    margin: 0 auto;    border-bottom:1px solid rgb(3, 3, 3);
    color: white;
    outline: none;
}

.BOTONeNVIAR{
    outline: none;
    width: 23%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    border: rgb(143, 1, 72);
    cursor: pointer;
}








/* factura final  */


.contentFact{
    width: 50%;
    margin: 0 auto;
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px; background-color:rgba(143, 1, 72, 0.527);
    
}

.contentFact .content{
    margin-bottom: 13px;
    display: flex; 
    border-bottom: 1px solid rgba(37, 36, 36, 0.432);
}

.contentFact div span{
    font-size: 20px;
    padding-top: 5px;display: flex; 
    
}

.ttl{
    text-align: center;
    width: 80%;
    margin:0 auto;
    border-bottom: 1px solid black;
    margin-bottom: 4%;
}

.aaa{
    position: relative;
}

.hooo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

/*tabla de mostrar los pedidos*/

.pedido{
    color: rgb(157, 0, 79);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 0px;
    margin-top: 4%;
} 
.infor{
    overflow-y: auto;
    height: 400px;
}
.pedido h1{
    margin: 10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.pedido .datos{
    border: 1px solid rgb(109, 0, 45);

}

.pedido td{
    border: 1px solid rgb(109, 0, 45);
    color: black;
    font-size: 15px;
    text-align: center;
 
}

.pedido .nn{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 20px; 
    font-weight: 900;
    background-color:rgba(109, 0, 45, 0.575);
   


}


/*tabla de mostrar los pedidos*/

.pedidoS{
    color:  rgba(109, 0, 45);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px;
    margin-top: 4%;
} 
.info{
    overflow-y: auto;
    height: 400px;
}
.pedidoS h1{
    margin: 10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.pedidoS .datos{
    border: 1px solid  rgba(109, 0, 45);;

}

.pedidoS td{
    border: 1px solid  rgba(109, 0, 45);;
    color: black;
    font-size: 15px;
    text-align: center;
 
}

.pedidoS .nn{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 20px; 
    font-weight: 900;
    background-color: rgba(109, 0, 45, 0.575);

}



